<div id="<%= dom_id application %>">
  <p>
    <strong>Name:</strong>
    <%= application.name %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= application.client_id %>
  </p>

  <p>
    <strong>Client secret:</strong>
    <%= application.client_secret %>
  </p>

  <p>
    <strong>Redirect uri:</strong>
    <%= application.redirect_uri %>
  </p>

  <p>
    <strong>Scopes:</strong>
    <%= application.scopes %>
  </p>

</div>
